@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
@keyframes bell-ring {
    0%   { transform: rotate(0deg); }
    1%   { transform: rotate(15deg); }
    3%   { transform: rotate(-15deg); }
    5%   { transform: rotate(10deg); }
    7%   { transform: rotate(-10deg); }
    9%   { transform: rotate(5deg); }
    11%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.animate-bell-ring {
    animation: bell-ring 3s ease-in-out infinite;
    transform-origin: top center;
}